body {
  font-family: Helvetica;
  font-size: 20px;
}
.h1 {
  text-align: center;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.row .col {
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}
.grid-container {
  grid-gap: 0px;
}
/* input[type=text]: {
} */
